@import url("@/styles/theme.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  .active-theme {
    filter: invert(53%) sepia(98%) saturate(3332%) hue-rotate(0deg)
      brightness(104%) contrast(106%) !important;
  }
}
